.root{
	position: relative;
	left: -120px;

	@media (max-width: 1268px){
		left: 0;
	}
}

.input{
	padding: 12px 20px;
	padding-left: 42px;
	width: 300px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 10px;

	font-size: 16px;
	transition: all 0.15s ease-in-out;

	&:focus{
		border-color: rgba(0, 0, 0, 0.2);
	}
}

.icon{
	position: absolute;
	top: 12px;
	left: 12px;
	width: 22px;
	height: 22px;

	opacity: 0.3;
}

.clearIcon{
	position: absolute;
	right: 15px;
	top: 15px;

	width: 18px;
	height: 18px;

	opacity: 0.3;
	cursor: pointer;

	&:hover{
		opacity: 0.8;
	}

}